# Client configuration
token = ""
clientId = ""

# admin_guildId is the administrative head of your botnet.
admin_guildId = ""

# Miscellaneous configuration
dbFile = "registrar.db"
Green = "0x78B159"
Orange = "0xFF9900"
Red = "0xDD2E44"
Blue = "0x19AFE4"
NoPermission = ":no_entry: You do not have permission to run this command!"
NotYet = ":construction_site: Not yet implimented yet!"
